html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: "Roboto", Calibri, Candara, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d7f0e8;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  border-spacing: 0;
  box-shadow: 3px 3px 5px #a1c8c2;
}

th {
  font-weight: 100;
}

tr {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(169, 169, 169, 0.4);
}

td {
  text-align: center;
  min-width: 5rem;
}

#main {
  width: 80vw;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  background: white;
  width: 100%;
  margin-bottom: 1rem;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px #a1c8c2
}